In [200]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [201]:
# Header equal to zero means we are considering the header will be zero
df = pd.read_csv("Movie_collection_train.csv",header = 0)

In [202]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

In [203]:
# Here we can see that "Time_taken" column has some missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
Collection             400 non-null int64
Marketin_expense       400 non-null float64
Production_expense     400 non-null float64
Multiplex_coverage     400 non-null float64
Budget                 400 non-null float64
Movie_length           400 non-null float64
Lead_ Actor_Rating     400 non-null float64
Lead_Actress_rating    400 non-null float64
Director_rating        400 non-null float64
Producer_rating        400 non-null float64
Critic_rating          400 non-null float64
Trailer_views          400 non-null int64
Time_taken             392 non-null float64
Twitter_hastags        400 non-null float64
Genre                  400 non-null object
Avg_age_actors         400 non-null int64
MPAA_film_rating       400 non-null object
Num_multiplex          400 non-null int64
3D_available           400 non-null object
dtypes: float64(12), int64(4), object(3)
memory usage: 59.5+ KB

#### Missing values treatment

In [204]:
df['Time_taken'].mean()

157.79

In [205]:
df['Time_taken'].fillna(value = df['Time_taken'].mean(),inplace = True )

In [206]:
# Here we can check that "Time_taken" column don't have missing values 
# Bcs missing values fill by the (.mean)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
Collection             400 non-null int64
Marketin_expense       400 non-null float64
Production_expense     400 non-null float64
Multiplex_coverage     400 non-null float64
Budget                 400 non-null float64
Movie_length           400 non-null float64
Lead_ Actor_Rating     400 non-null float64
Lead_Actress_rating    400 non-null float64
Director_rating        400 non-null float64
Producer_rating        400 non-null float64
Critic_rating          400 non-null float64
Trailer_views          400 non-null int64
Time_taken             400 non-null float64
Twitter_hastags        400 non-null float64
Genre                  400 non-null object
Avg_age_actors         400 non-null int64
MPAA_film_rating       400 non-null object
Num_multiplex          400 non-null int64
3D_available           400 non-null object
dtypes: float64(12), int64(4), object(3)
memory usage: 59.5+ KB

### Dummy Variable Creation

In [207]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

In [208]:
df = pd.get_dummies(df,columns = ['3D_available','Genre','MPAA_film_rating'],drop_first = True)

In [209]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

### X,y split

In [210]:
# here (:) this indicates about all culumns(!=)except this
X = df.loc[:,df.columns!='Collection']
type(X)

pandas.core.frame.DataFrame

In [211]:
# Here we can see that all independent variable are showing
X.head()

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [212]:
X.shape

(400, 19)

In [213]:
y = df["Collection"]
type(y)

pandas.core.series.Series

In [214]:
# this is the independent variable
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

In [215]:
y.shape

(400,)

In [216]:
# this is one of the methos we can assign the values for the predicting the model
# x1 = df.drop("Collection", axis=1).values 
#y1 = df["Collection"].values
#x1.shape
#y1.shape

## Test-Train Split

In [217]:
from sklearn.model_selection import train_test_split

In [218]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

In [219]:
# Here we can see that the index no. is suffle why bcs some data is went for test dataset
# Which contain the 80% of data for train
X_train.head()

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
336,20.6854,65.38,0.4850,32602.295,119.8,7.250,7.545,7.250,7.495,6.96,483878,201.80,303.120,53,447,0,0,0,1
64,20.3902,57.76,0.5839,39462.720,133.0,5.280,5.455,5.315,5.505,7.28,477265,165.20,205.280,30,390,1,0,0,0
55,20.2622,57.44,0.5970,40268.195,95.4,5.550,5.795,5.605,5.655,8.42,512329,150.16,265.664,50,480,1,0,0,1
106,23.4240,72.12,0.4800,32418.980,165.4,8.815,8.965,8.760,9.040,6.82,405008,205.80,283.120,20,482,1,0,1,0
300,20.8834,59.48,0.6000,38168.405,120.9,5.955,6.160,6.055,6.175,9.04,503113,181.92,223.968,29,429,1,0,0,1

In [220]:
# Here this data will used for train your model
X_train.shape

(320, 19)

In [221]:
# This data will use for testing or evaluate performance of the model
X_test.shape

(80, 19)

### Training Regression Tree

In [222]:
# Here we use the depth for no.of layers in the tree
# do not exceed max_depth value more than 5
from sklearn import tree
regtree =tree.DecisionTreeRegressor(max_depth = 3)

In [223]:
regtree.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

### Predict Values using trained model

In [224]:
y_train_pred = regtree.predict(X_train)
y_test_pred = regtree.predict(X_test)

In [225]:
# Here we can see that the predicted values(y_train_prep)
y_train_pred

array([ 47146.66666667,  64866.66666667,  64866.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  37268.96551724,  22834.7826087 ,
        22834.7826087 ,  47146.66666667,  25400.        ,  91725.        ,
        47146.66666667,  37268.96551724,  64866.66666667,  37268.96551724,
        37268.96551724,  22834.7826087 ,  64866.66666667,  43800.        ,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        91725.        ,  47146.66666667,  47146.66666667,  64866.66666667,
        37268.96551724,  47146.66666667,  47146.66666667,  64866.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  91725.        ,
        22834.7826087 ,  37268.96551724,  37268.96551724,  64866.66666667,
        47146.66666667,  47146.66666667,  37268.96551724,  22834.7826087 ,
        47146.66666667,  64866.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  91725.        ,  37268.96551724,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  64866.66666667,  64866.66666667,
        64866.66666667,  37268.96551724,  37268.96551724,  22834.7826087 ,
        91725.        ,  37268.96551724,  64866.66666667,  91725.        ,
        47146.66666667,  37268.96551724,  47146.66666667,  91725.        ,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  22834.7826087 ,
        91725.        ,  47146.66666667,  37268.96551724,  22834.7826087 ,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  64866.66666667,  47146.66666667,
        37268.96551724,  37268.96551724,  22834.7826087 ,  37268.96551724,
        37268.96551724,  47146.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  64866.66666667,  47146.66666667,  47146.66666667,
        91725.        ,  22834.7826087 ,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  91725.        ,  22834.7826087 ,
        22834.7826087 ,  47146.66666667,  64866.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  47146.66666667,  22834.7826087 ,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        22834.7826087 ,  22834.7826087 ,  91725.        ,  47146.66666667,
        37268.96551724,  91725.        ,  47146.66666667,  64866.66666667,
        22834.7826087 ,  37268.96551724,  47146.66666667,  47146.66666667,
        37268.96551724,  25400.        ,  37268.96551724,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  37268.96551724,  47146.66666667,
        47146.66666667,  37268.96551724,  64866.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  91725.        ,
        64866.66666667,  64866.66666667,  64866.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  22834.7826087 ,
        47146.66666667,  64866.66666667,  22834.7826087 ,  47146.66666667,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  22834.7826087 ,  47146.66666667,
        47146.66666667,  37268.96551724,  37268.96551724,  37268.96551724,
        37268.96551724,  37268.96551724,  37268.96551724,  37268.96551724,
        64866.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  91725.        ,  22834.7826087 ,
        64866.66666667,  91725.        ,  47146.66666667, 100000.        ,
        47146.66666667,  47146.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  37268.96551724,  37268.96551724,  64866.66666667,
        64866.66666667,  37268.96551724,  37268.96551724,  91725.        ,
        37268.96551724,  47146.66666667,  22834.7826087 ,  91725.        ,
        47146.66666667,  91725.        ,  37268.96551724,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        91725.        ,  47146.66666667,  64866.66666667,  64866.66666667,
        47146.66666667,  91725.        ,  47146.66666667,  47146.66666667,
        37268.96551724, 100000.        ,  91725.        ,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  91725.        ,
        47146.66666667,  47146.66666667,  91725.        ,  37268.96551724,
        37268.96551724,  37268.96551724,  47146.66666667, 100000.        ,
        47146.66666667,  37268.96551724,  37268.96551724,  47146.66666667,
        64866.66666667,  47146.66666667,  64866.66666667,  47146.66666667,
        47146.66666667,  64866.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  22834.7826087 ,  47146.66666667,
        22834.7826087 ,  47146.66666667,  64866.66666667,  47146.66666667,
        64866.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  64866.66666667,  37268.96551724,  37268.96551724,
        37268.96551724,  91725.        ,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  37268.96551724,  37268.96551724])

In [226]:
# Here we can see that predicted values
y_test_pred

array([47146.66666667, 47146.66666667, 64866.66666667, 64866.66666667,
       47146.66666667, 47146.66666667, 37268.96551724, 91725.        ,
       37268.96551724, 37268.96551724, 47146.66666667, 37268.96551724,
       37268.96551724, 47146.66666667, 37268.96551724, 47146.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 64866.66666667,
       47146.66666667, 91725.        , 37268.96551724, 64866.66666667,
       47146.66666667, 47146.66666667, 37268.96551724, 47146.66666667,
       37268.96551724, 47146.66666667, 37268.96551724, 64866.66666667,
       47146.66666667, 91725.        , 47146.66666667, 47146.66666667,
       47146.66666667, 47146.66666667, 64866.66666667, 22834.7826087 ,
       47146.66666667, 47146.66666667, 47146.66666667, 47146.66666667,
       37268.96551724, 37268.96551724, 22834.7826087 , 47146.66666667,
       47146.66666667, 91725.        , 47146.66666667, 37268.96551724,
       47146.66666667, 47146.66666667, 91725.        , 47146.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 47146.66666667,
       47146.66666667, 47146.66666667, 64866.66666667, 47146.66666667,
       47146.66666667, 22834.7826087 , 37268.96551724, 47146.66666667,
       37268.96551724, 37268.96551724, 37268.96551724, 64866.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 47146.66666667,
       37268.96551724, 64866.66666667, 47146.66666667, 47146.66666667])

### Evaluating Model Performance

In [227]:
# this is used for model performance
# r2_score this is goodness of our model, it varies from 0 to 1
# 0 ---> No fot for model
# 1 ---> 

from sklearn.metrics import mean_squared_error,r2_score

In [228]:
# MSE result used for only calculate of different model on our same data set
mean_squared_error(y_test,y_test_pred)

116554023.96381056

In [229]:
# this results shows our model performing great
r2_score(y_train,y_train_pred)

0.8477196523486658

In [230]:
# this result is used for evaluate the our model performance and this is not used for training data
r2_score(y_test,y_test_pred)

0.6241422194036836

In [239]:
dot_data = tree.export_graphviz(regtree,out_file = None)

In [240]:
from IPython.display import Image

In [241]:
import pydotplus
import graphviz

In [243]:
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

InvocationException: GraphViz's executables not found